<div class="jumbotron">
  <h1 class="display-2">Welcome</h1>
  <p class="lead">
    This web application was created with in production  29
    <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
    from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>
</div>
